@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{
   margin: 0;
   padding: 0;
}
h3{
    padding-bottom: 40px;
    
    font-family: 'Ubuntu', sans-serif;
    padding-left: 30px;
    color: red;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 60px;
    border: 2px solid black;
}
.navbar{
    display: flex;
    background-color:black;
    height: 75px;
    
}
.nav-list{
    display: flex;
    flex-direction: row;
width: 50%;

align-items: center;
padding-right: 5px;
height: 70px;



}
.nav-list li{
list-style: none;
padding: 16px 20px;

}
.nav-list li a{
text-decoration: none;
color:white;


}
.nav-list li a:hover{
color: gray;
}

.rightNav{
    
    width: 50%;
    text-align: right;
    height: 60px;
    margin-bottom: 7px;
    margin-top: 4px;
    letter-spacing: 3px;
}

.container-box{
    width:90%;
    padding: 20px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
    
}
.box{
    width: 265px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0,0,0, .1);
transition: 1s;

}

.box img{
    display: block;
    width: 100%;
    border-radius: 5px;
    
}
.box :hover{
    transform:scale(1.3);
    z-index: 2;
}
.heading {
    height: 110px;
}

.social-icons {
    display: flex;
    list-style: none
}

.social-icons li a {
    padding: 20px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    color:white;
    margin-right: 16px;
    position: relative;
    text-align: center;
    line-height: 70px;
    width: 100px;
    height: 100px
}

.social-icons li a::before,
.social-icons li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    left: 0;
    top: 0;
    transition: .5s linear
}

.social-icons li a:hover i {
    transform: scale(1.1)
}

.social-icons li a:hover::before {
    transform: skewX(10deg);
    border-left: 3px solid;
    border-right: 3px solid
}

.social-icons li a:hover::after {
    transform: skewY(-25deg);
    border-top: 3px solid;
    border-bottom: 3px solid
}



.input-container {

    display: flex;

    margin-bottom: 13px;
    margin-left: 27px;

}

.input-field {
    width: 100%;
    padding: 10px;
}


.e {
    padding: 13px;
    border: 1px solid grey;
    color: white;
    min-width: 50px;
    text-align: center;
    background-color: black;
}
.l{
    margin-left: 20px;
}
.s{
    padding-bottom: 17px;
    margin-left: 20px;
    
}
.s button{
    background-color: black;
}












